/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=REM:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*
=============== 
Variables
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: "REM", sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  background: #959595;
  background: linear-gradient(
    to right,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 53%,
    #4e4e4e 76%,
    #383838 87%,
    #1b1b1b 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background: FloralWhite;
}

.container {
  max-width: 100em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-top: 3rem;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container > p {
  margin-left: 28rem;
  margin-top: rem;
}

.projectCardContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 6rem;
  flex-wrap: wrap;
}

.projectCard {
  width: 30rem;
  height: 22rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 5px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: linear-gradient(to bottom, FloralWhite, beige);
}

.projectCard img {
  width: 23rem;
  margin-top: 1rem;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius: 12px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  transition: 0.5s;
}

.projectCard > p {
  background: #959595;
  background: linear-gradient(
    to right,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 53%,
    #4e4e4e 76%,
    #383838 87%,
    #1b1b1b 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.projectCard:hover {
  scale: 1.05;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.projectCard:hover img {
  scale: 1.05;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
}

/* media queris */
@media (max-width: 935px) {
  .projectCard {
    width: 70%;
  }
  .projectCard > p {
    padding: 0rem 3rem 0 3rem;
  }
}

@media (max-width: 730px) {
  .projectCard {
    width: 85%;
  }
}

@media (max-width: 640px) {
  .container > h1 {
    font-size: 2.5rem;
  }
  .container > p {
    font-size: 0.5rem;
    /* padding-right: 5rem; */
    margin-left: -0.5rem;
  }
}

@media (max-width: 500px) {
  .container > h1 {
    font-size: 2rem;
  }
}

@media (max-width: 460px) {
  .projectCard {
    width: 100%;
  }
  .projectCard h1 {
    font-size: 1.5rem;
  }
  .projectCard img {
    width: 20rem;
  }
}

@media (max-width: 400px) {
  .container > h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 300px) {
  .container > h1 {
    font-size: 1.3rem;
  }
  .container > p {
    font-size: 0.1rem;
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .projectCard img {
    width: 15rem;
  }
}
